body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    padding: 8px;
}

.container {
    width: 600px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px black solid;
}

.etch-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex: auto;
}

.etch-cell {
    flex: 1;
}

.option-normal {
    background-color: black;
}

.option-random-rgb {
    background-color: blue;
}

.option-fade {

}

.options {
    display: flex;
    gap: 8px;
    margin-top: 8px;

}

.current-option {
    background-color: aqua;
}